[Desktop Entry]
Type=Application
Version=1.0
Name=IEDClient
Comment=An Open-Source Client for IEC 61850 Protocols
Exec=IEDClient
Icon=IEDClient
Categories=Utility;Network;
